* {
  box-sizing: border-box;
}

html{
	font-size: 62.5%; /*Que é 10px do padrão*/
}

body {
  /* Posicionamento */

  /* Display e Box Model */  
  margin: 0;

  /* Cores */

  /* Texto */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem; 

  /* Outros */
}